<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
  <title>Site administration | Django site admin</title>

  <link rel="stylesheet" href="/static/admin/css/base.css">
  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <link rel="stylesheet" href="/static/admin/css/dashboard.css">
  <link rel="stylesheet" href="/static/admin/css/responsive.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" dashboard" data-admin-utc-offset="0">
  <a href="#content-start" class="skip-to-content-link">Skip to main content</a>
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <header id="header">
      <div id="branding">
        <div id="site-name"><a href="/admin/">Django administration</a></div>
      </div>
      <div id="user-tools">

        Welcome,
        <strong>admin</strong>.
        <a href="/">View site</a> /
        <a href="/admin/password_change/">Change password</a> /

        <form id="logout-form" method="post" action="/admin/logout/">
          <input type="hidden" name="csrfmiddlewaretoken"
            value="PncUntEchTa4M4JHpobQvA9m1rRbhWQleQE8TC1ElYdLqCohPG5IcBSdONXrgJQ7">
          <button type="submit">Log out</button>
        </form>

        <button class="theme-toggle">
          <div class="visually-hidden theme-label-when-auto">Toggle theme (current theme: auto)</div>
          <div class="visually-hidden theme-label-when-light">Toggle theme (current theme: light)</div>
          <div class="visually-hidden theme-label-when-dark">Toggle theme (current theme: dark)</div>
          <svg aria-hidden="true" class="theme-icon-when-auto">
            <use xlink:href="#icon-auto" />
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-dark">
            <use xlink:href="#icon-moon" />
          </svg>
          <svg aria-hidden="true" class="theme-icon-when-light">
            <use xlink:href="#icon-sun" />
          </svg>
        </button>
      </div>
    </header>

    <!-- END Header -->

    <div class="main" id="main">
      <main id="content-start" class="content" tabindex="-1">

        <!-- Content -->
        <div id="content" class="colMS">

          <h1>Site administration</h1>
          <div id="content-main">
            <div class="app-auth module">
              <table>
                <caption>
                  <a href="/admin/auth/" class="section"
                    title="Models in the Authentication and Authorization application">Authentication and
                    Authorization</a>
                </caption>
                <tr class="model-group">
                  <th scope="row"><a href="/admin/auth/group/">Groups</a></th>
                  <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>
                  <td><a href="/admin/auth/group/" class="changelink">Change</a></td>
                </tr>
              
              </table>
            </div>
          </div>

          <div id="content-related">
            <div class="module" id="recent-actions-module">
              <h2>Recent actions</h2>
              <h3>My actions</h3>
              <p>None available</p>
            </div>
          </div>

          <span>{{ produto }}</span>

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </main>
    </div>
  </div>
  <!-- END Container -->
</body>

<script src="/static/admin/js/theme.js" defer></script>
<script src="/static/admin/js/nav_sidebar.js" defer></script>

</html>