{% extends 'base.html' %}
{% block title %} Lista de Tarefas {% endblock %}

{% block content %}

<div class="actions">

  <label>PRODUTOS: <select name="action_produtos" required>
  <option value="" selected>---------</option>
  {% for produto in produtos %}
  <option value="delete_selected">{{produto}}</option>
  {% endfor %}
  </select></label><input type="hidden" name="select_across" value="0" class="select-across">
<br>
  <label>TIPOS: <select name="action_tipos" required>
  <option value="" selected>---------</option>
  {% for tipo in tipos %}
  <option value="delete_selected">{{tipo}}</option>
  {% endfor %}
  </select></label><input type="hidden" name="select_across" value="0" class="select-across">
  
  <br>
  <label>MATERIAIS: <select name="action_materiais" required>
  <option value="" selected>---------</option>
  {% for material in materiais %}
  <option value="delete_selected">{{material}}</option>
  {% endfor %}
  </select></label><input type="hidden" name="select_across" value="0" class="select-across">

  <br>
  <label>ALTURAS: <select name="action_alturas" required>
  <option value="" selected>---------</option>
  {% for altura in alturas %}
  <option value="delete_selected">{{altura}}</option>
  {% endfor %}
  </select></label><input type="hidden" name="select_across" value="0" class="select-across">
 
  <br>
  <label>LARGURAS: <select name="action_larguras" required>
  <option value="" selected>---------</option>
  {% for largura in larguras %}
  <option value="delete_selected">{{largura}}</option>
  {% endfor %}
  </select></label><input type="hidden" name="select_across" value="0" class="select-across">
  <br>
  <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>

</div>
    

{% endblock %}